/* The sidebar menu */
.sidenav {
    width: 160px; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    float: left;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px;
}

/* The navigation menu links */
.sidenav div {
    padding: 6px 5px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav div:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
    padding: 0px 10px;

    -webkit-perspective: 800px;
       -moz-perspective: 800px;
         -o-perspective: 800px;
            perspective: 800px;
}
#displayDiv{
  position:relative;
  -webkit-transition: -webkit-transform 3s;
     -moz-transition: -moz-transform 3s;
       -o-transition: -o-transform 3s;
          transition: transform 3s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: right center;
     -moz-transform-origin: right center;
       -o-transform-origin: right center;
          transform-origin: right center;
}
#displayDiv h2, #displayDiv img, #displayDiv h3{
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}
.inactive {
  -webkit-transition: inherit;
     -moz-transition: inherit;
       -o-transition: inherit;
          transition: inherit;

  -webkit-transform: rotateY( 180deg ) translateX(100%);
     -moz-transform: rotateY( 180deg ) translateX(100%);
       -o-transform: rotateY( 180deg ) translateX(100%);
          transform: rotateY( 180deg ) translateX(100%);
}
.active {
  -webkit-transition: inherit;
     -moz-transition: inherit;
       -o-transition: inherit;
          transition: inherit;

  -webkit-transform: translateX( -10% ) rotateY( 0deg );
     -moz-transform: translateX( -10% ) rotateY( 0deg );
       -o-transform: translateX( -10% ) rotateY( 0deg );
          transform: translateX( -10% ) rotateY( 0deg );
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav div {font-size: 18px;}
}
